@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-app-dark text-white;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}