@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-app-dark text-white;
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Remove default slick-slider margin bottom */
.slick-slider {
  margin-bottom: 0;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}